
.app{
    text-align: center; 
    background-color: azure; 
}

body {
    user-select: none;
    -webkit-user-select: none; /* Safari & iOS */
    -ms-user-select: none;     /* IE/Edge (legacy) */
}

.drag {
    position: fixed; 
}


