.cat-elem { 
    max-width: 200px; 
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    text-align: center;       /* center the text inside */

    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}  
.cat-elem img{
    width: 200px; 
    height: 150px; 
}

.slot{
    height: 150px;  
    width: 200px;  
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    text-align: center;       /* center the text inside */

    background-color: aquamarine; 
    margin: 15px; 
}

.tier {

    width: 70%; 
    padding-left: 50px; 
    margin: 20px ;
    display: flex;  
    align-items: center;      /* center vertically */
    text-align: center;       /* center the text inside */
    height: 200px;   

    /* background-color:burlywood;   */ 
}
.app{
    text-align: center; 
    background-color: azure; 
}