
.login-container{
    width: 400px;   
}
.input-container {
    display: flex;
    justify-content: space-between; 
    margin: 20px; 
}

.login-body{ 
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center; 
}
